.label {
	display: inline-block;
	color: var(--base-highlight);
	background: var(--muted-color);

	padding: 4px 8px;
	border-radius: 6px;

	font-weight: bold;
	text-transform: uppercase;
	font-size: var(--p-xxs, 12px);
}
